.body-wrapper{
    height: auto;
    width: 100%;
    overflow-x: hidden;

}

.section-main{
    width: 100%;
    height: 100vh;
    background: #17182f; //linear-gradient(to bottom right, rgb(43, 47, 119), rgb(7, 11, 52));
    overflow: hidden;
    position: relative;

    .stars-wrapper{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
    }

    .particle-js-wrapper{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    &--nav{
        &.laptop{
            position: absolute;
            top: 20px;
            right: 50px;

            ul{
                list-style: none;

                li{
                    display: inline-block;
                    position: relative;
                    width: auto;
                    height: auto;
                    color: white;
                    font-size: 32px;
                    padding: 5px 30px;
                    box-sizing: border-box;
                    font-family: 'Caveat', cursive;
                    letter-spacing: 1px;
                    cursor: pointer;

                    &:hover{
                        background: rgb(36, 45, 150);
                        border-radius: 2px;
                    }

                }
            }
        }
    }

    &--title{
        position: absolute;
        left:60%;
        top: 67%;
        width :70%;
        transform: translate(-50%, 0%);
        font-size: 100px;        
        font-family: 'Bowlby One SC', cursive;
        color: white;
        letter-spacing: 5px;
        text-shadow: 1px -1px 0 #919191, 2px -2px 0 #919191, 3px -3px 0 #919191, 4px -4px 0 #919191, 5px -5px 0 #919191;
        z-index: 20;

        &_letter{
            display: inline-block; 
            position: absolute;

            .main{
                position: absolute;
                top: 0;
                left: 0;
                //animation: textBounce 7s linear infinite;
            }

            .shadow{
                color: rgba(0, 0, 0, 0.281);
                position: absolute;
                text-shadow: none;
                transform: rotateX(130deg) rotateZ(-10deg) scale(1, 1.2);
                //animation: shadow-motion 7s linear infinite;
                z-index: -1;
                top: 60px;
                left: -5px;

            }
                

            &:nth-child(1){
                left: 0;
                top: 0px;
            }

            &:nth-child(2){
                left: 85px;
                top: -2px;

                .main{
                    animation-delay: 1s;
                }

                .shadow{
                    animation-delay: 1s;
                }
                
            }

            &:nth-child(3){
                left: 170px;
                top:  -4px;

                .main{
                    animation-delay: 2s;
                }

                .shadow{
                    animation-delay: 2s;
                }
            }
            &:nth-child(4){
                left: 255px;
                top: -6px;

                .main{
                    animation-delay: 3s;
                }

                .shadow{
                    animation-delay: 3s;
                }
            }

            &:nth-child(5){
                left: 330px;
                top: -8px;

                .main{
                    animation-delay: 4s;
                }

                .shadow{
                    animation-delay: 4s;
                }
            }

            &:nth-child(6){
                left: 420px;
                top: -10px;

                .main{
                    animation-delay: 5s;
                }

                .shadow{
                    animation-delay: 5s;
                }
            }

            &:nth-child(7){
                left: 500px;
                top: -12px;

                .main{
                    animation-delay: 6s;
                }

                .shadow{
                    animation-delay: 6s;
                }
            }
        }
    }

    .rays-wrapper{
        position: absolute;
        bottom: -80%;
        left: 47%;
        transform: translateX(-50%);
        width: 70%;

        img{
            width: 100%;
            animation: rays 55s linear infinite;
            opacity: 0.5;
        }
        
    }

    .mountains{
        position: absolute;
        bottom:0;
        left: 0;
        width: 100%;
        height: 100px;
        
        &-one{
            width: 700px;
            height: 200px;
            position: absolute;
            left: -350px;
            top: -10px;
            display: block;
            background: #455f48;
            border-radius: 80%;
            z-index: 10;

        }

        &-two{
            position: absolute;
            left: -80px;
            top: -60px;
            display: block;
            border-radius: 50%;
            width: 105%;
            height: 450px;
            background-image: linear-gradient(to bottom,	#455f48 ,#263a29 90%);
            z-index: 11;
        }

        &-three{
            width: 40%;
            height: 200px;
            position: absolute;
            right: -200px;
            top: -50px;
            display: block;
            background: #4c664f;
            border-radius: 80%;
            z-index: 10;

        }
    }
}