

@import "abstracts/mixins";
@import "abstracts/variables";


@import "base/animations";
@import "base/base";
@import "base/utilities";

@import "components/shootingStar";


@import "pages/home";
@import "pages/about";
@import "pages/events";
@import "pages/adhyaayEvents";